<html xmlns:th="https://www.thymeleaf.org" >
<body>
<h1>Connexion</h1>
<form action="/connect" method="POST">
    email <input name="email" required>
    mot de passe <input type="password" name="password" required>
    <input type="SUBMIT">
</form>
<hr>
<h1>Création d'un nouveau client</h1>
<form action="/createCustomer" method="POST">
    email <input name="email" required>
    password <input type="password" name="password" required>
    firstname <input name="firstName" required>
    lastname <input name="lastName" required>
    <input type="SUBMIT">
</form>
</body>
</html>