<html xmlns:th="https://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Bonjour <span th:text="${session.customer?.firstName}">Utilisateur</span></h1>
    <br>
    <form action="/logout" method="get">
        <button type="submit">Se déconnecter</button>
    </form>
    <br>
    <h1>Liste des commandes</h1>
    <ul>
        <li th:each="commande : ${commandes}">
            <a th:href="@{/store/commande/{id}(id=${commande.id})}" th:text="${commande.titre}"></a>
        </li>
    </ul>
    <br>
    <form action="/createCommande" method="post">
        Titre de la commande : <input name="titre" required>
        <input type="SUBMIT">
    </form>
</body>
</html>